.mycakes-container{
    width: 90%;
    margin: auto;
}

.mycakes-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit, .delete{
    height: 30px;
}

.count{
    font-weight: bold;
    font-size: 20px;
    color: black;
}