:root {
    --primary: #E88F2A;
    --secondary: #FAF3EB;
    --light: #FFFFFF;
    --dark: #2B2825;
  }

.amount-container{
    width: 450px;
    padding: 40px;
    background-color: #333;
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    border: 5px solid var(--primary);
}

.amount-container h1{
    color: aliceblue;
}

.amount-container h3{
    color: var(--primary);
    font-size: 40px;
}

.balance-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.graph-container{
    height: 500px;
    width: 350px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.graph-parent{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
    /* border: 2px solid purple; */
}