.orders{
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    background-color: #2B2825;
    padding: 30px;
    margin: auto;
    border: 5px solid #E88F2A;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px #aaa;
    margin-bottom: 50px;
}

.cakeInfo{
    border-left: 2px solid #E88F2A;
    padding-left: 20px;
    /* border: 2px solid red; */
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cakeInfo h2{
    color: #E88F2A;
}

.cakeInfo p{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.cakeInfo span{
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.customerInfo{
    /* border-left: 2px solid #E88F2A; */
    padding-left: 20px;
    /* border: 2px solid red; */
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.customerInfo h2{
    color: #E88F2A;
}

.customerInfo p{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.customerInfo span{
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.imageContainer img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #E88F2A;
}

.tab-view-orders ul{
    width: 80%;
}


.noOrderTextBox{
    width: 50%;
    height: 200px;
    margin: auto;
    background-color: #2B2825;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noOrderText{
    color: #E88F2A;
    font-size: 24px;
    text-transform: uppercase;
}

.emoji{
    font-size: 40px;
}








@media (max-width:1600px) {
    .orders{
        width: 80%;

    }
}

@media (max-width: 1200px) {
    .orders{
        flex-direction: column;
        gap: 20px;
    }
    .cakeInfo, .customerInfo{
        border: none;
        border-top: 2px solid #E88F2A;
        width: 50%;
        justify-content: space-between;
        align-items: center;
    }
    .cakeInfo h2, .customerInfo h2{
        padding-top: 20px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    body{
        font-size: 14px;
    }
    .cakeInfo, .customerInfo{
        border: none;
        border-top: 2px solid #E88F2A;
        width: 70%;
        justify-content: space-between;
        align-items: center;
    }
    .cakeInfo h2, .customerInfo h2{
        padding-top: 20px;
    }
    .noOrderTextBox{
        width: 80%;
    }
    
}

@media (min-width:501px) and (max-width: 600px) {
    body{
        font-size: 14px;
    }
    .cakeInfo, .customerInfo{
        border: none;
        border-top: 2px solid #E88F2A;
        width: 100%;
        padding-left: 0px;
        justify-content: space-between;
        align-items: start;
    }
    .cakeInfo h2, .customerInfo h2{
        padding-top: 20px;
    }
    .noOrderTextBox{
        width: 85%;
        height: 150px;
        margin: auto;
        background-color: #2B2825;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .noOrderText{
        color: #E88F2A;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .emoji{
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    body{
        font-size: 12px;
    }
    .imageContainer img{
        width: 200px;
        height: 200px;
    }
    .cakeInfo, .customerInfo{
        border: none;
        border-top: 2px solid #E88F2A;
        width: 100%;
        padding-left: 0px;
        justify-content: space-between;
        align-items: start;
    }
    .cakeInfo h2, .customerInfo h2{
        padding-top: 20px;
    }
    .noOrderTextBox{
        width: 75%;
        height: 200px;
        margin: auto;
        background-color: #2B2825;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .noOrderText{
        color: #E88F2A;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .emoji{
        font-size: 25px;
    }
}