.add-cake{
    background-color: #333;
    padding: 50px;
    border: 10px solid #E88F2A;
}

.add-cake h1{
    color: #fff;
    text-align: center;
    text-decoration: underline #E88F2A;
    padding-bottom: 30px;
}

.selectMenu{
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 55px;
    color: grey;
}

/* .selectMenu option{
    color: aliceblue;
} */